<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Demo_10004_RequestDispatcher</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ForwardMediatorServlet</display-name>
    <servlet-name>ForwardMediatorServlet</servlet-name>
    <servlet-class>com.lkm.accenture.ForwardMediatorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForwardMediatorServlet</servlet-name>
    <url-pattern>/ForwardMediatorServlet</url-pattern>
    <url-pattern>/Mediator</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForwardSeniorServlet</display-name>
    <servlet-name>ForwardSeniorServlet</servlet-name>
    <servlet-class>com.lkm.accenture.ForwardSeniorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForwardSeniorServlet</servlet-name>
    <url-pattern>/ForwardSeniorServlet</url-pattern>
    <url-pattern>/Senior</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForwardNormalServlet</display-name>
    <servlet-name>ForwardNormalServlet</servlet-name>
    <servlet-class>com.lkm.accenture.ForwardNormalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForwardNormalServlet</servlet-name>
    <url-pattern>/ForwardNormalServlet</url-pattern>
    <url-pattern>/Normal</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IncludeMainServlet</display-name>
    <servlet-name>IncludeMainServlet</servlet-name>
    <servlet-class>com.lkm.accenture.IncludeMainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IncludeMainServlet</servlet-name>
    <url-pattern>/IncludeMainServlet</url-pattern>
    <url-pattern>/Main</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IncludeCalculateServlet</display-name>
    <servlet-name>IncludeCalculateServlet</servlet-name>
    <servlet-class>com.lkm.accenture.IncludeCalculateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IncludeCalculateServlet</servlet-name>
    <url-pattern>/IncludeCalculateServlet</url-pattern>
    <url-pattern>/Calculate</url-pattern>
  </servlet-mapping>
</web-app>